[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule "tmux/plugins/tmux-fzf"]
	path = tmux/plugins/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf
[submodule "tmux/plugins/tmux-power"]
	path = tmux/plugins/tmux-power
	url = https://github.com/wfxr/tmux-power
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-ssh-split"]
	path = tmux/plugins/tmux-ssh-split
	url = git@github.com:pschmitt/tmux-ssh-split
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank
[submodule "nvim/pack/cmp-nvim-lsp"]
	path = nvim/pack/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp
[submodule "nvim/pack/nvim-cmp"]
	path = nvim/pack/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp
[submodule "nvim/pack/telescope.nvim"]
	path = nvim/pack/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "nvim/pack/nvim-treesitter"]
	path = nvim/pack/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/plenary.nvim"]
	path = nvim/pack/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "nvim/pack/vim-fugitive"]
	path = nvim/pack/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "nvim/pack/nvim-lspconfig"]
	path = nvim/pack/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "nvim/pack/vim-tmux-navigator"]
	path = nvim/pack/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = git@github.com:tmux-plugins/tpm
