[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule "tmux/plugins/tmux-fzf"]
	path = tmux/plugins/tmux-fzf
	url = https://github.com/sainnhe/tmux-fzf
[submodule "tmux/plugins/tmux-power"]
	path = tmux/plugins/tmux-power
	url = https://github.com/wfxr/tmux-power
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tmux-ssh-split"]
	path = tmux/plugins/tmux-ssh-split
	url = git@github.com:pschmitt/tmux-ssh-split
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = git@github.com:tmux-plugins/tmux-yank
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = git@github.com:tmux-plugins/tpm
[submodule "nvim/pack/plenary/start/telescope.nvim"]
	path = nvim/pack/plenary/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "nvim/pack/nvim-lspconfig/start/nvim-lspconfig"]
	path = nvim/pack/nvim-lspconfig/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "nvim/pack/vim-fugitive/start/vim-fugitive"]
	path = nvim/pack/vim-fugitive/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
