[submodule "pack/nvim-lspconfig/start/nvim-lspconfig"]
	path = pack/nvim-lspconfig/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
[submodule "pack/plenary/start/plenary.nvim"]
	path = pack/plenary/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim
[submodule "pack/telescope/start/telescope.nvim"]
	path = pack/telescope/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim
[submodule "pack/vim-fugitive/start/vim-fugitive"]
	path = pack/vim-fugitive/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "pack/vim-tmux-navigator/start/vim-tmux-navigator"]
	path = pack/vim-tmux-navigator/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter
